body {
  background-color: #f5f5f5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #333;
  margin: 0;
  padding: 0;
}

/* landing page section */
.site-layout {
  background-image: url("https://images.unsplash.com/photo-1560184897-ae75f418493e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
